<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Id='*' Name='TableLoader 3.1.12.0 for Integration Services 2012' Language='1033'
             Version='3.1.12.0' Manufacturer='innovative IT solutions AG' UpgradeCode='EFB559B2-B495-4582-AAFB-20499D372520'>
        

        
        <Package Description='TableLoader Installer package'
                  Manufacturer='innovative IT solutions AG' InstallerVersion='200' Compressed='yes' />

        <Media Id='1' Cabinet='TableLoader.cab' EmbedCab='yes' />

        <Upgrade Id="EFB559B2-B495-4582-AAFB-20499D372520">
            <UpgradeVersion Minimum="1.0.0"
                            IncludeMinimum="yes"
                            Maximum="3.1.12"
                            Property="OLDERVERSIONBEINGUPGRADED" />
        </Upgrade>
        <Upgrade Id="EFB559B2-B495-4582-AAFB-20499D372520">
            <UpgradeVersion Minimum="3.1.12"
                            OnlyDetect="yes"
                            Property="NEWERVERSIONDETECTED" />
        </Upgrade>

        <Condition Message="Eine neuere Version des TableLoaders ist breits installiert. Die Installation wird abgebrochen.">
            NOT NEWERVERSIONDETECTED OR Installed
        </Condition>
        
        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallValidate"/>
        </InstallExecuteSequence>

        <Property Id="WIXUI_INSTALLDIR" Value="PIPELINECOMPONENTS" />
        <UIRef Id="WixUI_InstallDir" />

        <UI>
            <UIRef Id="WixUI_InstallDir" />
            <!-- skip licence dialog -->
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
        </UI>
        
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="PF86" Name="Program Files (x86)">
                <Directory Id="MicrosoftSQLServer" Name="Microsoft SQL Server">
                    <Directory Id="dir110" Name="110">
                        <Directory Id="DTS" Name="DTS">
                            <Directory Id="PIPELINECOMPONENTS" Name="PipelineComponents">
                                <Component Id="TableLoader4.dll" Guid='633FF1AF-D6CC-44AA-B643-17A53487F9FD'>
                                    <File Id='TableLoader4.dll' Source="c:\Program Files (x86)\Microsoft SQL Server\110\DTS\PipelineComponents\TableLoader4.dll" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            
            <Directory Id="GAC" Name="GAC">
                <Component Id="RT_TableLoader" Guid="5D9CA358-A57B-4F32-9DBF-EFCB95ADAE93" DiskId="1">
                    <File Id="F_RT_TableLoader" Name="TableLoader4.dll" Source="c:\Program Files (x86)\Microsoft SQL Server\110\DTS\PipelineComponents\TableLoader4.dll" KeyPath="yes" Assembly=".net"/>
                </Component>               
            </Directory>
        </Directory>



        <Feature Id='MyFeature' Title='My 1st Feature' Level='1'>
            <ComponentRef Id='TableLoader4.dll' />
            <ComponentRef Id='RT_TableLoader' />
        </Feature>

        <Icon Id="TableLoader.ico" SourceFile="C:\Visual Studio\Visual Studio TFS\initions-BI\Henry Components\TableLoader\Release\2012\TableLoader 3 .1.10\TableLoader\Resources\TableLoader.ico"/>
        <Property Id="ARPPRODUCTICON" Value="TableLoader.ico" />
        <Property Id="ALLUSERS" Value="1" />

        
    </Product>
</Wix>

